body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-image: url(mountains.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: 'Gotu', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: blue;
    text-align: center;
}

p {
    text-align: center;
    font-size: 26px;
}

ul {
    font-size: 26px;
    list-style: inside;
}

#container {
    width: 100%;
}

#counter {
    text-align: center;
    font-size: 26px;
}

.table {
    margin-left: auto; 
    margin-right: auto;
    width: 5%;
}

.Christ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
    width: 50%;
}

.main-points {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 1%;
}

.Romans-Road {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30pt;
    color: red;
    padding-bottom: 5%;
}

@media screen and (max-width:749px) {

    header {
        width: 100%;
    }
    .main-points {
        width: 80%;
    }

    ul {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        padding: 0 10px;
    }

    .Christ {
        width: 50%;
    }
}

